body
{
    font-family: 'Be Vietnam Pro', sans-serif;
}

.homePageContainer
{
    background-image: url('https://github.githubassets.com/images/modules/site/home/globe.jpg');
    background-size:cover;
}
.homepage
{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height:100vh;
    padding:6rem;
}

.profile
{
    display: flex;
    gap:2rem;
    margin-top: 2rem;
    padding:2rem;
    width:35rem;
    background-color:#040d21 !important;
    padding-left:5rem;
}
.profile-pic
{
    height:10rem;
    width: 10rem;
    margin-top:1.3rem;
}

#profileProgress
{
margin-Top:10rem;
}

.repo-container
{
    min-height:100vh;
}
#githubIcon
{
    fill:white;
    text-Align:left;
    font-size: 2rem;
}


.profile,.repoPage {
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
#textfield
{
    width:30rem;
    color:white;
}   


#repoProgress
{
margin-Left:40rem; 
margin-Top:15rem;
}

.repoPage
{
    display: flex;
    align-items: center;
    flex-direction:column;
    gap:1rem;
    padding:3rem;
}
#repo
{
    
    background-color:#192133;
    width:40rem;
    padding:2rem;
  
}
#backRepoButton
{
    margin-left:51rem;
}

.icons
{
    display: flex;
    align-items: center;
    gap:1rem;
}

.content
{
    padding-top:2rem;
}
.searchfield
{
  border-radius:4px;
  width:19rem;
  background-Color:white;
  color:black !important;
  margin-Left:1.5rem;
  margin-Top:0.2rem;
  padding-left:1rem;
}
a
{
    color:#58a6da;
    text-decoration:none;
}
#pagination
{
    display: flex;
    justify-content:center !important;
    padding-bottom:2rem;
}
#floaticon
{
  left:63rem;
  margin-bottom: 1rem;
  margin-top:-25rem;
}

